/* 通配选择器 */
*[lang^=en] {
    color: green;
}

*.warning {
    color: red;
}

*#maincontent {
    border: 1px solid blue;
}

.floating {
    float: left;
}

.floating+* {
    clear: left;
}